.container {
  padding: 20px;
  .levels {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.filled {
  font-weight: bold;
}
.notfilled {
  background-color: rgb(210, 231, 249);
}
table.grid {
  margin: 0 auto;
  border: 1px solid rgb(160, 160, 160);
  border-collapse: collapse;
  width: 400px;
  height: 400px;

  td {
    text-align: center;
  }
  tr:nth-child(3n) {
    border-bottom: 2px solid black;
  }
  tr:not(:nth-child(3n)) {
    border-bottom: 1px solid rgb(123, 123, 123);
  }
  td:nth-child(3n) {
    border-right: 2px solid black;
  }
  td:not(:nth-child(3n)) {
    border-right: 1px solid rgb(123, 123, 123);
  }
  tr:nth-child(9) {
    border-bottom: none;
  }
  td:nth-child(9) {
    border-right: none;
  }
}
.options {
  margin: 0 auto;
  width: 400px;
  height: 44px;
  td {
    text-align: center;
    cursor: pointer;
  }
}
