.container {
  padding: 20px 0;
  .levels {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  span {
    cursor: pointer;

    // padding: 12px 16px;
  }
}
.default {
  font-weight: bold;
  background-color: rgb(152, 222, 203);
  color: black;
  cursor: auto;
}
.notfilled {
  // background-color: rgb(210, 231, 249);
}
table.grid {
  margin: 0 auto;
  border: 1px solid rgb(160, 160, 160);
  border-collapse: collapse;
  width: auto;
  font-size: 20px;
  height: 400px;

  td,
  tr {
    width: 50px;
    text-align: center;
  }
  tr:nth-child(3n) {
    border-bottom: 2px solid black;
  }
  tr:not(:nth-child(3n)) {
    border-bottom: 1px solid rgb(123, 123, 123);
  }
  td:nth-child(3n) {
    border-right: 2px solid black;
  }
  td:not(:nth-child(3n)) {
    border-right: 1px solid rgb(123, 123, 123);
  }
  tr:nth-child(9) {
    border-bottom: none;
  }
  td:nth-child(9) {
    border-right: none;
  }
}
.options {
  margin: 0 auto;
  width: 350px;
  height: 44px;
  td {
    text-align: center;
    cursor: pointer;

    span.option {
      font-size: large;
      padding: 10px;
      border: 1px solid rgb(160, 160, 160);
      border-radius: 16px;
    }
  }
}
.red {
  background-color: rgb(255, 132, 132);
  color: black;
  padding: 6px 15px;

  font-weight: bold;
}
.green {
  background-color: rgb(130, 255, 130);
  padding: 6px 15px;
  color: black;
  font-weight: bold;
}
.zero {
  // background-color: rgb(210, 231, 249);
  color: black;
  padding: 18px;

  width: 50px;
  height: 47px;
  font-size: 0;
}

// [ngClass]="
// boolean[r][col] == true && disabled[r][col] == false
//   ? 'green'
//   : boolean[r][col] == true && item != 0
//   ? 'red'
//   : 'zero'
// "
